
@{
    ViewData["Title"] = "Index";
}

<!-- About Start -->
@await Component.InvokeAsync("AboutArea")
<a class="btn btn-md btn-primary" asp-controller="Welcome" asp-action="Update">Update</a>
<!-- About End -->
