/*comment area*/
#message {
    padding: 10px 15px;
    outline: none;
}
/*comment cards*/
.comments {
    margin: 40px 0;
    color: black;
    font-size: 40px;
    font-weight: 600;
}

.message-field {
    margin-top: 40px;
}

.message-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
}

@media only screen and (max-width: 767.98px) {
    .message-card {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 479.98px) {
    .message-card {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.message-card .img-holder {
    margin-right: 25px;
    max-height: 80px;
    max-width: 80px;
}

@media only screen and (max-width: 479.98px) {
    .message-card .img-holder {
        margin-bottom: 25px;
        margin-right: 0;
    }
}

@media only screen and (max-width: 479.98px) {
    .message-card .com-content {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.message-card .com-content .com-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
}

@media only screen and (max-width: 767.98px) {
    .message-card .com-content .com-title {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-bottom: 15px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media only screen and (max-width: 479.98px) {
    .message-card .com-content .com-title {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.message-card .com-content .com-title h5 {
    display: inline-block;
    color: #233645;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
}

    .message-card .com-content .com-title h5:last-of-type {
        border-left: 1px solid #e7e7e7;
        padding-left: 15px;
        margin-left: 15px;
        color: #666666;
    }

@media only screen and (max-width: 767.98px) {
    .message-card .com-content .com-title h5:last-of-type {
        padding: 0;
        margin: 0;
        margin-top: 20px;
        border: none;
    }
}

.message-card .com-content .com-body .suitable {
    color: rgb(255, 0, 0);
    font-weight:bold;
}

.suitable:hover {
    color: rgb(200, 0, 0)!important;
}

@media only screen and (max-width: 479.98px) {
    .message-card .com-content .com-body {
        text-align: center;
    }
}

@media only screen and (max-width: 479.98px) {
    .message-card .com-content .btn-box {
        text-align: center;
    }
}

.message-card .com-content .btn-box .com-reply-btn {
    background-color: white;
    border: 1px solid #e7e7e7;
    color: #002359;
    display: inline-block;
    font-size: 12px;
    margin-top: 5px;
    padding: 8px 15px;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

    .message-card .com-content .btn-box .com-reply-btn:hover {
        color: #1ebeb6;
    }

    .message-card .com-content .btn-box .com-reply-btn:focus {
        outline: none;
    }

    .message-card .com-content .btn-box .com-reply-btn i {
        margin-right: 10px;
    }

.reply {
    padding-left: 80px;
}

.r-inp-holder {
    width: 100%;
    margin-bottom: 50px;
}


    .r-inp-holder textarea {
        border: none;
        outline: none;
        border-bottom: 1px solid black;
        width: 100%;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

        .r-inp-holder textarea:focus {
            border-color: #1ebeb6;
        }

    .r-inp-holder .btn-holder {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

        .r-inp-holder .btn-holder button {
            border: 1px solid transparent;
            margin: 0 8px;
            min-width: 90px;
            display: inline-block;
            font-size: 12px;
            padding: 5px 10px;
            text-transform: uppercase;
            font-weight: 600;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }

            .r-inp-holder .btn-holder button:first-of-type {
                background-color: transparent;
                outline: none;
            }

                .r-inp-holder .btn-holder button:first-of-type:active {
                    outline: none;
                    background-color: #f0f0f0;
                    border: 1px solid #e7e7e7;
                    color: indianred;
                }

            .r-inp-holder .btn-holder button:last-of-type {
                cursor: default;
                border: 1px solid #e7e7e7;
                background-color: gainsboro;
                color: #c8c8c8;
                outline: none;
            }

                .r-inp-holder .btn-holder button:last-of-type:active {
                    outline: none;
                }

        .r-inp-holder .btn-holder .btnActive {
            cursor: pointer !important;
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
            background-color: #1ebeb6 !important;
            color: white !important;
        }

            .r-inp-holder .btn-holder .btnActive:active {
                opacity: 0.8;
            }


@media only screen and (max-width: 767.98px) {
    .reply {
        padding: 0;
    }
}

/*pagination*/
.pagination .btn-active {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
/*user profile*/
.input-field input {
    display: none;
}

.edit-btn {
    font-size: 18px;
    color: #303030;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    cursor: pointer;
}

    .edit-btn:hover {
        color: #EC1C23;
    }

.save-btn {
    border: 1px solid transparent;
    margin: 0 8px;
    min-width: 90px;
    display: inline-block;
    font-size: 12px;
    padding: 7px 10px;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.save-btn {
    cursor: default;
    border: 1px solid #e7e7e7;
    background-color: gainsboro;
    color: #c8c8c8;
    outline: none;
}

    .save-btn :active {
        outline: none;
    }

.btnActive {
    cursor: pointer !important;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    background-color: #1ebeb6 !important;
    color: white !important;
}

    .btnActive:active {
        opacity: 0.8;
    }

.modal-box {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) );
    z-index: 1000000;
}

.input-holder {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 130px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.img-input {
    cursor: pointer;
}

    .img-input:focus {
        outline: none !important;
    }

.profile-image {
    cursor: pointer;
}
/*comment form*/
.load-btn {
    transform:translate(100px,-33px) rotate(0deg);
    background-color: transparent !important;
    color: #065fd4 !important;
    font-weight: 600 !important;
}
.load-btn .btn-icon {
    font-size:16px;
    margin-right:10px;
}