
@{
    ViewData["Title"] = "Teacher";
}
<!-- Banner Area Start -->
@await Component.InvokeAsync("Banner", new { word = "our teachers" })
<!-- Banner Area End -->
<!-- Teacher Start -->
<div class="teacher-area pt-150 pb-105">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("Teacher")
        </div>
        @await Component.InvokeAsync("Pagination", new { item = "teacher", take = 9 })
    </div>
</div>
<!-- Teacher End -->