@model List<Tag>
@{
    int count = (int)ViewBag.Skip + 1;
    string url = "Tag";
}

@foreach (Tag e in Model)
{
    <tr class="text-center">
        <td>@count</td>
        <td>@e.Name</td>
        <td>
            <button data-delete="@e.Id" data-url="@url" class="btn btn-sm btn-danger delete">Delete</button>
        </td>
    </tr>
    count++;
}

