@model MapAddress
@{
    ViewData["Title"] = "MapUpdate";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Map Area</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.Raw(Model.Iframe)
                </dt>
                <dt>
                    Iframe
                </dt>
                <dd>
                    @Model.Iframe
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form class="forms-sample" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                <div class="form-group">
                                    <label asp-for="Iframe">Main Description</label>
                                    <input asp-for="Iframe" class="form-control" placeholder="Iframe">
                                    <span class="text-danger" asp-validation-for="Iframe"></span>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <a asp-area="Admin" asp-action="Index" class="btn btn-light">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}

