@model List<TeacherSimple>
@{
    Layout = null;
}
    @foreach (TeacherSimple t in Model)
    {
        <li class="item">
            <a class="option" asp-controller="Teacher" asp-action="Detail" asp-route-id="@t.Id">
                <div class="item_image">
                    <img class="img-fluid" style="vertical-align:middle" src="~/img/teacher/@t.Image">
                </div>
                <div class="item_name">
                    @t.Fullname
                </div>
            </a>
        </li>
    }


