
@{
    ViewData["Title"] = "About";
}

<!-- Banner Area Start -->
@await Component.InvokeAsync("Banner", new { word = "about us" })
<!-- Banner Area End -->
<!-- About Start -->
@await Component.InvokeAsync("AboutArea", new { paddingT = "pt-145" })
<!-- About End -->
<!-- Teacher Start -->
<div class="teacher-area pb-150">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("SectionTitle", new { section = 1 })
        </div>
        <div class="row">
            @await Component.InvokeAsync("Teacher", new { location = "About" })
        </div>
        @await Component.InvokeAsync("Pagination", new { item = "teacher", take = 4 })
    </div>
</div>
<!-- Teacher End -->
<!-- Testimonial Area Start -->
@await Component.InvokeAsync("TestimonialArea")
<!-- Testimonial Area End -->
<!-- Notice Start -->
@await Component.InvokeAsync("NoticeArea", new { paddingB = "pb-100" })
<!-- Notice End -->