
@{
    ViewData["Title"] = "Search";
    int count;
}
<!-- Banner Area Start -->
@await Component.InvokeAsync("Banner", new { word = "search" })
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="course-title">
                    <h3>search blogs</h3>
                </div>
                <div class="course-form">
                    <form id="search">
                        <input type="text" placeholder="Search..." id="search-inp" name="search" autocomplete="off" />
                        <button type="submit">search</button>
                        <input type="hidden" id="mycont" value="/@ViewBag.Card/" />
                    </form>
                </div>
                <div class="ul-holder">
                    <ul class="search-ul"></ul>
                </div>
            </div>
        </div>
        <div class="row">
            @if (ViewBag.Card == "Blog")
            {
                @await Component.InvokeAsync("Blog", new { location = "search" , keyword = (string)ViewBag.Keyword })
            }
            else if (ViewBag.Card == "Teacher")
            {
                @await Component.InvokeAsync("Teacher", new { location = "search", keyword = (string)ViewBag.Keyword })
            }
            else if (ViewBag.Card == "Event")
            {
                @await Component.InvokeAsync("Event", new { location = "search", keyword = (string)ViewBag.Keyword })
            }
            else if (ViewBag.Card == "Course")
            {
                @await Component.InvokeAsync("Course", new { location = "search", keyword = (string)ViewBag.Keyword })
            }


        </div>
    </div>
</div>
<!-- Blog End -->