
@{
    ViewData["Title"] = "Search";
}
<!-- Banner Area Start -->
@await Component.InvokeAsync("Banner", new { word = "search" })
<!-- Banner Area End -->
<!-- search Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            @if (ViewBag.Card == "Blog")
            {
                @await Component.InvokeAsync("Blog", new { location = "search" , keyword = (string)ViewBag.Keyword })
            }
            else if (ViewBag.Card == "Teacher")
            {
                @await Component.InvokeAsync("Teacher", new { location = "search", keyword = (string)ViewBag.Keyword })
            }
            else if (ViewBag.Card == "Event")
            {
                @await Component.InvokeAsync("Event", new { location = "search", keyword = (string)ViewBag.Keyword })
            }
            else if (ViewBag.Card == "Course")
            {
                @await Component.InvokeAsync("Course", new { location = "search", keyword = (string)ViewBag.Keyword })
            }


        </div>
    </div>
</div>
<!-- search End -->