
@{
    ViewData["Title"] = "Blog";
}
<!-- Banner Area Start -->
@await Component.InvokeAsync("Banner", new { word = "blog" })
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("Blog", new { take = 9 })
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="pagination">
                    <ul>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->