@model TestimonialArea

@{
    ViewData["Title"] = "Create TestimonialArea";
}
<h4>Testimonial</h4>
<hr />
<div class="container">
    <div class="row">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <label asp-for="Photo" class="form-label">Select Image</label>
                        <input asp-for="Photo" class="form-control" accept="image/*" type="file">
                        <span class="text-danger" asp-validation-for="Photo"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Fullname" class="form-label">Fullname</label>
                        <input asp-for="Fullname" class="form-control" placeholder="Title">
                        <span class="text-danger" asp-validation-for="Fullname"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Description">Main Description</label>
                        <input asp-for="Description" class="form-control" placeholder="Main Description">
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <a asp-area="Admin" asp-controller="Testimonial" asp-action="Index" class="btn btn-light">Cancel</a>
        </form>
    </div>
</div>


@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}